[submodule "gist/talkback_facade_gist"]
	path = gist/talkback_facade_gist
	url = https://gist.github.com/miguelhincapieGL/a6065644ed563548cab9c1948e326e94
[submodule "gist/post_delayed_util"]
	path = gist/post_delayed_util
	url = https://gist.github.com/miguelhincapie/ad790873da075d9ed51c1624add2939f
[submodule "gist/send_focus_after_talk_back_start"]
	path = gist/send_focus_after_talk_back_start
	url = https://gist.github.com/miguelhincapie/1735d3aab55abca9502baa19b07eeb72
[submodule "gist/accessibility_service_listener_gist"]
	path = gist/accessibility_service_listener_gist
	url = https://gist.github.com/miguelhincapie/d5ab4ceefb4bad9ae3f0cf01e9d22ce1
[submodule "gist/talk_back_facade_gist"]
	path = gist/talk_back_facade_gist
	url = https://gist.github.com/miguelhincapie/c80896756dd857c4bc38bc0db91e3420
[submodule "gist/button_enabled_disabled_ext_fun_gist"]
	path = gist/button_enabled_disabled_ext_fun_gist
	url = https://gist.github.com/miguelhincapie/ea2a9b0079148ba55882ff363f3e89e7
[submodule "gist/delegating_key_event_from_activity_to_viewmodel_gist"]
	path = gist/delegating_key_event_from_activity_to_viewmodel_gist
	url = https://gist.github.com/miguelhincapie/8c853af32d0d9ff413ffd827780a5789
[submodule "gist/key_event_handler_gits"]
	path = gist/key_event_handler_gits
	url = https://gist.github.com/miguelhincapie/4223142215a99c90681144a6e5561f23
[submodule "gist/grid_key_event_delegate_gist"]
	path = gist/grid_key_event_delegate_gist
	url = https://gist.github.com/miguelhincapie/333cc61ac0d8bc114e4649406401cb6b
[submodule "gist/ui_ext_fun_focus_gist"]
	path = gist/ui_ext_fun_focus_gist
	url = https://gist.github.com/miguelhincapie/f0de6dd92b0b21a2919c0496426e61f8
[submodule "gist/carousel_key_event_delegate_gist"]
	path = gist/carousel_key_event_delegate_gist
	url = https://gist.github.com/miguelhincapie/04d97483e38b213f196f1876d7756699
